@import url('https://fonts.googleapis.com/css2?family=knewave&display=swap');
.fancy-title{
    font-family: 'knewave', cursive;
    font-size: 48px;
}

.signin-layout {
    background-color: $primary-color;
  }
  